# 첫 줄에는 파일 규격 버전을 적습니다. 
# 파일의 규격(버전)에 따라 지원하는 옵션이 달라집니다.
version: "3.7" 

# services 항목 밑에 실행하려는 컨테이너들을 정의합니다. 
# 컴포즈에서는 컨테이너 대신 서비스라는 개념을 사용합
services:
  cors-proxy-server: # 서비스의 이름 (사용예: $ docker-compose exec <서비스이름> <내부실행명령>)
    container_name: cors-proxy # 컨테이너의 이름
    restart: always # container를 실행할 때 항상 이미 수행중이라면 재시작을 수행합니다.
    build: 
      context: . # docker build 명령을 실행할 디렉터리 경로
      dockerfile: Dockerfile # 빌드하는 데 사용할 Dockerfile을 지정
    # local cache에서 해당 image를 찾아서 없으면 위 dockerfile 이용해서 build
    # image를 적어 놓으면 만들어진 이미지가 해당 이름을 가짐
    image: makestory/cors-proxy:latest  # goes to youruser DockerHub registry
    #command: # cmd 실행 명령어
    volumes:
      # container의 데이터 휘발성 때문에 데이터를 container가 아닌 호스트에 저장할 때,
      # 또는 container끼리 데이터를 공유할 때 Volume를 사용
      - ".:/app"
      - "/app/node_modules"
    ports: 
      # 연결할 포트
      # <도커 외부에서 접근을 위한 포트>:<도커 내부에서 사용할 포트>
      - "3291:3291"
    environment: 
      # 환경변수 설정
      - NODE_ENV=development
    networks: 
      # 각 컨테이너를 연결하는 네트워크
      - backend

networks: 
  backend:
    # 가장 기본적인 bridge 네트워크
    driver: bridge

# $ docker-compose build # 새로운 변경사항을 반영
# $ docker-compose up # 서비스 실행